{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{%block css%}
<!--#grad {-->
<!--background-image: linear-gradient(to right, #aa076b ,#61045f);-->
<!--}-->
h1{
    color:#a9baae;
    border-bottom:2px solid black;
    margin-bottom:28px;
}
p{
color:#d7e5fc;
padding:20px;
}


{%endblock%}

{% block body %}
<div id="grad">
    <h1 class="text-center" style="padding:20px 0px;">ABOUT US</h1>

    <p><em>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi a quo illum in ipsa harum vel cum maxime eveniet
        voluptatum explicabo provident iure nostrum tempore nihil aliquid, magnam ea sapiente, quod corrupti dicta
        tenetur molestiae? Qui id, officiis eveniet reiciendis blanditiis, soluta incidunt repellat, harum dolores nulla
        quo quas quae suscipit laudantium non culpa sint? Cum quaerat corrupti quis culpa aliquam? Deserunt laboriosam
        in ipsa quo nemo ullam? Dolorem reiciendis optio ad magnam odit unde possimus, fuga veniam ea maxime numquam
        quas consequuntur iusto molestiae quos minus, perferendis doloribus provident dolorum, iure expedita impedit?
        Consequuntur, eum corrupti error hic dolorum natus vero repudiandae voluptas eius earum incidunt harum
        recusandae. Repudiandae inventore, aut vel alias exercitationem porro vero ad tempora rem animi unde, neque
        corrupti id praesentium dignissimos aperiam nostrum minus voluptatibus maiores, corporis aliquid deleniti? Odit
        non harum ex quae ipsa dolorum quidem velit esse. Odit debitis molestias mollitia error enim placeat alias
        repellendus? Incidunt debitis enim facilis voluptatibus, dolores ea nihil ratione fugit ducimus distinctio
        expedita dolorem, fuga totam illum tenetur. Rem dolorum iusto excepturi, voluptas ex facere, voluptatem, tenetur
        quasi vero quam atque. Velit omnis dolorum sapiente ipsum fugiat molestiae, commodi alias eveniet doloribus quod
        magnam ad vero asperiores reiciendis quibusdam quae maxime. Quos molestiae corporis reiciendis aut libero
        cupiditate quasi ex veniam iure quod, dolores, harum, quaerat suscipit nesciunt amet officiis ut cum laboriosam
        enim sit ab! Nulla eligendi laboriosam neque explicabo cum veritatis soluta placeat, totam omnis illum corrupti
        illo incidunt error voluptatem, asperiores quia! Optio deserunt ad perferendis veniam minus libero maiores
        quisquam debitis sapiente cum, nemo tenetur sunt! Voluptatem ut, libero placeat magnam maiores nemo eos
        cupiditate! Nobis laudantium fuga numquam saepe temporibus. Sint, cumque sit nobis doloribus quo, facere
        inventore minus sequi, cupiditate possimus natus rem unde quam iste aut voluptatibus. Tenetur aliquam pariatur
        delectus placeat voluptates deleniti porro. Omnis deleniti provident necessitatibus quasi cum temporibus aperiam
        molestias doloremque rerum at nostrum nisi dignissimos veniam quam deserunt incidunt, perferendis eius, eos
        corrupti. Facilis blanditiis adipisci eius facere veritatis aliquam eligendi, dignissimos nisi perspiciatis
        ratione, soluta quasi sit sint voluptas optio esse necessitatibus quos aut excepturi autem laudantium molestiae
        sed? Magnam, quibusdam at hic repellendus dolore, illum doloribus corrupti blanditiis autem iusto ullam. Autem,
        adipisci obcaecati, temporibus laboriosam voluptatum facilis aspernatur ullam, repellendus doloribus consectetur
        tenetur. Natus cupiditate, omnis qui pariatur vitae nihil tempore itaque dolorum rerum porro odit, autem, soluta
        consequatur ducimus corrupti.
    </em></p>
    <br>

    <p><em>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi a quo illum in ipsa harum vel cum maxime eveniet
        voluptatum explicabo provident iure nostrum tempore nihil aliquid, magnam ea sapiente, quod corrupti dicta
        tenetur molestiae? Qui id, officiis eveniet reiciendis blanditiis, soluta incidunt repellat, harum dolores nulla
        quo quas quae suscipit laudantium non culpa sint? Cum quaerat corrupti quis culpa aliquam? Deserunt laboriosam
        in ipsa quo nemo ullam? Dolorem reiciendis optio ad magnam odit unde possimus, fuga veniam ea maxime numquam
        quas consequuntur iusto molestiae quos minus, perferendis doloribus provident dolorum, iure expedita impedit?
        Consequuntur, eum corrupti error hic dolorum natus vero repudiandae voluptas eius earum incidunt harum
        recusandae. Repudiandae inventore, aut vel alias exercitationem porro vero ad tempora rem animi unde, neque
        corrupti id praesentium dignissimos aperiam nostrum minus voluptatibus maiores, corporis aliquid deleniti? Odit
        non harum ex quae ipsa dolorum quidem velit esse. Odit debitis molestias mollitia error enim placeat alias
        repellendus? Incidunt debitis enim facilis voluptatibus, dolores ea nihil ratione fugit ducimus distinctio
        expedita dolorem, fuga totam illum tenetur. Rem dolorum iusto excepturi, voluptas ex facere, voluptatem, tenetur
        quasi vero quam atque. Velit omnis dolorum sapiente ipsum fugiat molestiae, commodi alias eveniet doloribus quod
        magnam ad vero asperiores reiciendis quibusdam quae maxime. Quos molestiae corporis reiciendis aut libero
        cupiditate quasi ex veniam iure quod, dolores, harum, quaerat suscipit nesciunt amet officiis ut cum laboriosam
        enim sit ab! Nulla eligendi laboriosam neque explicabo cum veritatis soluta placeat, totam omnis illum corrupti
        illo incidunt error voluptatem, asperiores quia! Optio deserunt ad perferendis veniam minus libero maiores
        quisquam debitis sapiente cum, nemo tenetur sunt! Voluptatem ut, libero placeat magnam maiores nemo eos
        cupiditate! Nobis laudantium fuga numquam saepe temporibus. Sint, cumque sit nobis doloribus quo, facere
        inventore minus sequi, cupiditate possimus natus rem unde quam iste aut voluptatibus. Tenetur aliquam pariatur
        delectus placeat voluptates deleniti porro. Omnis deleniti provident necessitatibus quasi cum temporibus aperiam
        molestias doloremque rerum at nostrum nisi dignissimos veniam quam deserunt incidunt, perferendis eius, eos
        corrupti. Facilis blanditiis adipisci eius facere veritatis aliquam eligendi, dignissimos nisi perspiciatis
        ratione, soluta quasi sit sint voluptas optio esse necessitatibus quos aut excepturi autem laudantium molestiae
        sed? Magnam, quibusdam at hic repellendus dolore, illum doloribus corrupti blanditiis autem iusto ullam. Autem,
        adipisci obcaecati, temporibus laboriosam voluptatum facilis aspernatur ullam, repellendus doloribus consectetur
        tenetur. Natus cupiditate, omnis qui pariatur vitae nihil tempore itaque dolorum rerum porro odit, autem, soluta
        consequatur ducimus corrupti.
    </em></p>
    <h2 class="text-center" style="color:#a9baae; margin:20px 0px">Developers:</h2>
    <br>
    <div class="text-center"
         style="border:solid red 2px;border-radius:33px;margin-bottom:25px; color:white;">
        <h3>Yash Kumar</h3>
        <h3>Tushar Sharma</h3>
        <h3>Yugansh Chauhan</h3>
    </div>

<footer class="text-right" style="color:white;  padding-right:25px;">&copy; Copyright
    2020-2021
</footer>
</div>

{% endblock body %}


